<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login - codeswag.co.uk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/codeswag.png" alt="codeswag-logo">
      <br>
      <br>
      <br>
      <ion-card-title>codeswag.co.uk</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="user.email" placeholder="username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input [(ngModel)]="user.password" placeholder="password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" (click)="login()">login</ion-button>
      <ion-button expand="block" color="secondary" (click)="register()">register</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
