<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      codeswag.co.uk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/codeswag.png" alt="codeswag-logo">
      <ion-card-title>codeswag.co.uk</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      codeswag.co.uk is an awesome blog with software development tutorials and a shop
      with cool swag and merchendise for software developers.
    </ion-card-content>
  </ion-card>
</ion-content>
