<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      codeswag.co.uk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <img src="assets/codeswag.png" alt="codeswag-logo">
        <br>
        <br>
        <br>
        <ion-card-title><a href="http://codeswag.co.uk/shop">codeswag.co.uk</a></ion-card-title>
        <ion-card-subtitle>welcome</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        codeswag.co.uk is an awesome blog with software development tutorials and a shop
        with cool swag and merchendise for software developers.
      </ion-card-content>
    </ion-card>
    </div>

</ion-content>
